@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.todo-input,
.result-any {
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 150px 75px;
    gap: 10px;
    flex-wrap: wrap;
}

.todo-input input,
.todo-input button,
.result-any button {
    padding: 7.5px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
}

.todo-input button,
.result-any button {
    color: #fff;
    background-color: green;
    border: none;
    cursor: pointer;
}

.result-any button {
    background-color: red;
}

